@model ERP.ViewModels.Account.RegisterViewModel


<div class="app-title">
    <div>
        <h1><i class="fa fa-user-o" style="margin-left:10px;color:red"></i>افزودن کاربر</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
    </ul>
</div>
<div class="col-md-12">
    <div class="tile">
        <div class="col-md-12 col-sm-12 left-side-content internal-style left-side-content-seller">
            <section class="border-radius">
                <article class="articlecreateseller">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data", id = "wizard_example" }))
                    {
                        <div asp-validation-summary="ModelOnly"></div>
                        <fieldset>
                            <div class="tile-body">
                                <div class="row">
                                    <div class="col-md-4 form-group">
                                        <label class="control-label">نام کاربری:</label>
                                        <input asp-for="UserName" class="form-control" />
                                        <span asp-validation-for="UserName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label">نام:</label>
                                        <input asp-for="FirstName" class="form-control" />
                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label">نام خانوادگی:</label>
                                        <input asp-for="LastName" class="form-control" />
                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label">پست سازمانی:</label>
                                        <input asp-for="Post" class="form-control" />
                                        <span asp-validation-for="Post" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label">پسورد:</label>
                                        <input asp-for="Password" class="form-control" />
                                        <span asp-validation-for="Password" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-4 form-group">
                                        <label class="control-label">تکرار پسورد:</label>
                                        <input asp-for="ConfirmPassword" class="form-control" />
                                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
        @*                 <fieldset>
                            <legend>گروه</legend>
                            @{
                                List<Group> groups = ViewBag.Groups;
                                <div class="treevieww">
                                    <ul>
                                        <li>
                                            <span class="spanallgroups">همه گروه ها</span>
                                            <ul>
                                                @foreach (var group in groups)
                                                {
                                                    <li>
                                                        <div class="pretty p-default perttycreate">
                                                            <input type="checkbox" name="selectedGroups" required="" data-parsley-group="block0" data-parsley-errors-container="#checkbox-errors"
                                                                   data-parsley-required-message="لطفا یک گزینه را انتخاب نمایید." value="@group.GroupID" class="ali" />
                                                            <div class="state p-success-o">
                                                                <label class="labelparnetlicreate">@group.GroupName</label>
                                                            </div>
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            }
                            <div id="checkbox-errors"></div>
                        </fieldset> *@

                        <fieldset>
                            <legend>تصویر</legend>

                            <link href="~/Cropper js/css/cropper.css" rel="stylesheet" />
                            <link href="~/Cropper js/css/main.css" rel="stylesheet" />
                            <div class="container">
                                <div class="row">
                                    <div class="col text-center" id="getimage" style="width:300px;height:300px;">
                                        <img src="~/userimage/male.png" style="width:300px;height:300px;" id="imagenotfound" />

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center" style="margin-top:20px">
                                        <button type="button" class="btn btn-primary" data-target="#modal" data-toggle="modal">
                                            بارگزاری تصویر
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden" name="ImageMain" id="upImgTheme" value="" accept="image/png, image/jpeg/" data-parsley-errors-container="#inputhidden-errors" data-parsley-filemimetypes="image/gif, image/png, image/jpeg, image/bmp" data-parsley-group="block3" required='' data-parsley-required-message='لطفا تصویر را انتخاب نمایید.'>
                                <div id="inputhidden-errors"></div>

                                <!-- Modal -->
                                <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content docs-buttons">
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="img-container">
                                                            <img id="image" src="">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label class="btn btn-warning btn-upload" for="inputImage" title="Upload image file">
                                                            <input type="file" class="sr-only" id="inputImage" accept="image/*">
                                                            انتخاب عکس
                                                        </label>

                                                        <button type="button" class="btn btn-primary" data-method="zoom" data-option="0.1" title="Zoom In" id="ZoomInBtn">
                                                            <span class="fa fa-search-plus"></span>
                                                        </button>

                                                        <button type="button" class="btn btn-primary" data-method="zoom" data-option="-0.1" title="Zoom Out" id="ZoomOutBtn">
                                                            <span class="fa fa-search-minus"></span>
                                                        </button>

                                                        <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left">
                                                            <span class="fa fa-undo"></span>
                                                        </button>

                                                        <button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right">
                                                            <span class="fa fa-redo"></span>
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal fade docs-cropped" id="getCroppedCanvasModal" aria-hidden="true" aria-labelledby="getCroppedCanvasTitle" role="dialog" tabindex="-1">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">

                                                        <div class="modal-body"></div>
                                                        <div class="modal-footer">
                                                            <a class="btn btn-primary" id="download" data-dismiss="modal"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">انصراف</button>
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" data-method="getCroppedCanvas" data-option="{ &quot;maxWidth&quot;: 4096, &quot;maxHeight&quot;: 4096 }">تایید</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-info pull-left" style="margin-top:40px;">ثبت</button>
                        </div>
                    }
                    <div class="clearfix"></div>
                </article>
            </section>
        </div>
    </div>
</div>
<a href="javascript:void(0)" onclick="goBackAndRefresh()" class="btn btn-outline-primary btn-lg">
    <i class="fa fa-arrow-right "></i> بازگشت
</a>

@section styles
{
    <link href="~/Parsley/parsley.css" rel="stylesheet" />
    <style>
        #getimage canvas {
            width: 300px !important;
            height: 300px !important;
        }
    </style>
}
@section scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/Parsley/parsley.min.js"></script>

    <script type="text/javascript">
        window.Parsley.addValidator('filemaxmegabytes',
            {
                requirementType: 'string',
                validateString: function (value, requirement, parsleyInstance) {

                    if (!window.FormData) {
                        return true;
                    }

                    var file = parsleyInstance.$element[0].files;
                    var maxBytes = requirement * 1048576;

                    if (file.length == 0) {
                        return true;
                    }

                    return file.length === 1 && file[0].size <= maxBytes;

                },
                messages: {
                    en: 'حجم تصویر زیاد است.'
                }
            });
    </script>
    <script>
        window.Parsley.addValidator('filemimetypes', {
            requirementType: 'string',
            validateString: function (value, requirement, parsleyInstance) {

                if (!window.FormData) {
                    return true;
                }

                var file = parsleyInstance.$element[0].files;

                if (file.length == 0) {
                    return true;
                }

                var allowedMimeTypes = requirement.replace(/\s/g, "").split(',');
                return allowedMimeTypes.indexOf(file[0].type) !== -1;

            },
            messages: {
                en: 'نمیتوانید این فرمت را بارگزاری کنید.'
            }
        });
    </script>
    <script>
        $(document).on('click', '#close-preview', function () {
            $('.image-preview').popover('hide');
            // Hover befor close the preview
            $('.image-preview').hover(
                function () {
                    $('.image-preview').popover('show');
                },
                function () {
                    $('.image-preview').popover('hide');
                }
            );
        });

        $(function () {
            // Create the close button
            var closebtn = $('<button/>', {
                type: "button",
                text: 'x',
                id: 'close-preview',
                style: 'font-size: initial;'
            });
            closebtn.attr("class", "close pull-left");
            // Set the popover default content
            $('.image-preview').popover({
                trigger: 'manual',
                html: true,
                title: "<strong>تصویراصلی</strong>" + $(closebtn)[0].outerHTML,
                content: "تصویری انتخاب نکردید",
                placement: 'bottom'
            });
            // Clear event
            $('.image-preview-clear').click(function () {
                $('.image-preview').attr("data-content", "").popover('hide');
                $('.image-preview-filename').val("");
                $('.image-preview-clear').hide();
                $('.image-preview-input input:file').val("");
                $(".image-preview-input-title").text("Browse");
            });
            // Create the preview image
            $(".image-preview-input input:file").change(function () {
                var img = $('<img/>', {
                    id: 'dynamic',
                    width: 150,
                    height: 150
                });
                var file = this.files[0];
                var reader = new FileReader();
                // Set preview image into the popover data-content
                reader.onload = function (e) {
                    $(".image-preview-input-title").text("Change");
                    $(".image-preview-clear").show();
                    $(".image-preview-filename").val(file.name);
                    img.attr('src', e.target.result);
                    $(".image-preview").attr("data-content", $(img)[0].outerHTML).popover("show");
                }
                reader.readAsDataURL(file);
            });
        });
    </script>

}




@section Cropper
{
    <script src="~/Cropper js/js/cropper.js"></script>
    <script src="~/Cropper js/js/jquery-cropper.js"></script>
    <script src="~/Cropper js/js/mainn.js"></script>
}



<link href="~/css/pretty-checkbox.min.css" rel="stylesheet" />

<style>
    .cropper-view-box,
    .cropper-face {
        border-radius: 50%;
    }

    .tile-body .row {
        border: solid 1px;
        border-radius: 4px;
    }

    div.treevieww {
        min-width: 100px;
        min-height: 100px;
        max-height: 350px;
        overflow: auto;
        padding: 4px;
        margin-bottom: 20px;
        color: black;
        border: solid 1px;
        border-radius: 4px;
    }

        div.treevieww ul:first-child:before {
            display: none;
        }

    .treevieww, .treevieww ul {
        margin: 0;
        padding: 0;
        list-style: none;
        color: black;
    }

        .treevieww ul {
            margin-right: 1em;
            position: relative
        }

            .treevieww ul ul {
                margin-right: .5em
            }

            .treevieww ul:before {
                content: "";
                display: block;
                width: 0;
                position: absolute;
                top: 0;
                right: 0;
                border-right: 1px solid;
                /* creates a more theme-ready standard for the bootstrap themes */
                bottom: 15px;
            }

        .treevieww li {
            margin: 0;
            padding: 0 1em;
            line-height: 2em;
            font-weight: 700;
            position: relative
        }

        .treevieww ul li:before {
            content: "";
            display: block;
            width: 10px;
            height: 0;
            border-top: 1px solid;
            margin-top: -1px;
            position: absolute;
            top: 1em;
            right: 0
        }

    .tree-indicator {
        margin-right: 5px;
        cursor: pointer;
    }

    .treevieww li a {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }

    .treevieww li button, .treevieww li button:active, .treevieww li button:focus {
        text-decoration: none;
        color: inherit;
        border: none;
        background: transparent;
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        outline: 0;
    }

    .validation-summary-errors{
        color:red;
    }
</style>
















