#particle-canvas {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(10, 10, 50) 0%,rgb(60, 10, 60) 100%);
    vertical-align: middle;
}

.login-content .login-box {
    border-radius: 10px;
    /*    min-width: 750px;*/
    opacity: 40%;
}
.login-content .login-box:hover {

    opacity: 90%;
}

.rainbow {
    text-align: center;
}

.rainbow_text_animated {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
