@media print {
    #tb2, #tb3 {
        page-break-before: always;
        break-before: page;
    }
    .card {
        page-break-inside: avoid !important;
        break-inside: avoid !important;
    }
}

body {
    font-family: Yekan;
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 1px solid #ccc;
    padding: 8px;
    vertical-align: top;
}

.section-title {
    background-color: #eee;
    font-weight: bold;
    padding: 10px;
}

.photo {
    width: 150px;
    height: 180px;
    border: 1px solid #aaa;
    text-align: center;
    vertical-align: top;
    font-size: 14px;
    color: #777;
}

.logo {
    text-align: left;
    padding: 0 !important;
    vertical-align: top;
    line-height: 0;
}



.vertical-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    vertical-align: middle;
}
